/node_modules
/public/hot
/public/storage/framework
/public/storage/logs
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.htaccess
.vscode-server/
.wget-hsts
.bash_history
.cache/
.composer/
.env.example
.gitattributes
package.json
phpunit.xml
readme.md
server.php
webpack.mix.js
composer.lock
.editorconfig
.styleci.yml

